@import "../partials/colors";
@import "../partials/breakpoints";
@import "../partials/fonts";

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 50vw;
  width: 50vw;
  margin: 0 auto;
}

.about {
  &__container {
    background-color: $pumpkin;
  }

  &__title {
    margin-top: 40px;
    text-align: center;
  }

  &__description {
    color: $rich-black-fogra-29;

    &__container {
      max-width: 50%;
      margin-top: 20px;
      text-align: justify;
      @include phoneAndTablet {
        max-width: 90%;
      }
    }
  }

  &__section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;

    @include phoneAndTablet {
      max-width: 90%;
    }

    &__image {
      width: 60%;
      @include phoneAndTablet {
        width: 100%;
      }
    }
    &__title {
      margin-top: 40px;
      max-width: 40%;
      text-align: center;

      @include phoneAndTablet {
        max-width: 90%;
      }
    }

    &__description,
    &__description > * {
      color: $rich-black-fogra-29;
      margin-top: 10px;
    }
  }
}

iframe {
  width: 100%;
  height: 40vh;
}

.link {
  margin-top: 20px;

  & > a {
    color: darkblue;
    text-decoration: underline;
  }
}

.pointer {
  margin-top: 10px;
  margin-bottom: 20px;
  &:hover {
    opacity: 0.5;
    cursor: pointer;
  }
}

.inline-containaer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  flex-wrap: wrap;
}

.inline-image {
  margin: 30px;
  width: 25%;
  height: 25%;
  @include phoneAndTablet {
    margin: 10px;
    width: 100%;
    height: 100%;
  }
}
