@import "../partials/colors";
@import "../partials/breakpoints";
@import "../partials/fonts";

.separator {
  &__container {
    width: 100vw;
    height: 30px;
    max-width: 100%;
    background-color: $rich-black-fogra-29;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
