@import "../partials/colors";
@import "../partials/breakpoints";
@import "../partials/fonts";

.separator {
  &__container {
    width: 100vw;
    max-width: 100%;
    background-color: $rich-black-fogra-29;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  &__title {
    padding: 20px;
  }
}
